<nav>
    <ul id="nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Android Crazy Rom Team</a></li>
      <li><a href="join.html">Join to this Team</a></li>
      <li><a>Social Media</a>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCLUxVB-Py-P676D2Fy6O7gQ">YouTube</a></li>
          <li><a href="https://github.com/AndroidCrazyRomTeamProjects">GitHub</a></li>
          <li><a href="https://plus.google.com/u/1/114139563514822544000">Google+</a></li>
        </ul>
      </li>
    <form action= "search.html" method ="get" id="search-box"/>
    <div class="main-search">
    <input type="text" class="search" name="results" placeholder="search...">
    <button class="search-button">&#128269;</button>
	</nav>
    </div>